[group:dhcp-relay]
programs=
{%- set add_preceding_comma = { 'flag': False } %}
{%  for server in v4_relays %}
{%    if add_preceding_comma.flag %},{% endif %}
{%    set _dummy = add_preceding_comma.update({'flag': True}) %}
isc-dhcpv4-relay-{{ server | replace(".", "-") }}
{%- endfor %}
{#  Append DHCPv6 agents #}
{%  if ipv6_num_relays.count > 0 %}
{%    if add_preceding_comma.flag %},{% endif %}
{%    set _dummy = add_preceding_comma.update({'flag': True}) %}
dhcp6relay
{%  endif %}
