{# Append each interface DHCPv4 relay agent instance #}
{% for servers, interfaces in interface_relays.items() %}
[program:interface-dhcpv4-relay-{{ loop.index }}]
command=/usr/sbin/dhcp-helper -n {% for iface in interfaces %} -i {{ iface }} {% endfor %} {% for server in servers %} -s {{ server }} {% endfor %}

priority=5
autostart=false
autorestart=false
stdout_logfile=syslog
stderr_logfile=syslog
dependent_startup=true
dependent_startup_wait_for=start:exited

{% endfor %}

