[program:isc-dhcpv4-relay-{{ server | replace(".", "-") }}]
command=/usr/sbin/dhcrelay -d -m discard
{%- for iface in downstreams %} -i {{ iface }}{% endfor %}
{% for iface in VLAN_INTERFACE|default([])|list + INTERFACE|default([])|list + PORTCHANNEL_INTERFACE|default([])|list %}
{% if iface is string and iface not in downstreams %} -iu {{ iface }}{% endif %}
{% endfor %}
 {{ server }}
priority=3
autostart=false
autorestart=false
stdout_logfile=syslog
stderr_logfile=syslog
dependent_startup=true
dependent_startup_wait_for=start:exited


